<h3>Add New Student <button class="btn btn-warning" style="float: right;" [routerLink]="['/']">Back</button></h3><br>
<hr>
<div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
            <div class="col-sm-2">
                <label>Student First Name:</label>
            </div>
            <div class="col" style="float: left;">
                <input type="text" formControlName="first_name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Student Last Name:</label>
            </div>
            <div class="col" style="float: left;">
                <input type="text" formControlName="last_name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Student Email:</label>
            </div>
            <div class="col" style="float: left;">
                <input type="text" formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Add Student</button>&nbsp;<button class="btn btn-danger" type="reset">Reset</button>
            </div>
        </div>
    </form>
</div>
